<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reserva de turnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre:</ion-label>
      <ion-input [clearInput]="true" placeholder="Escriba el nombre" id="nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Apellido:</ion-label>
      <ion-input [clearOnEdit]="true" placeholder="Escriba el apellido" id="apellido"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Email:</ion-label>
      <ion-input type="text" placeholder="Escriba el email"></ion-input>
    </ion-item>

    <ion-item counter="true">
      <ion-label position="floating">Tel/Cel:</ion-label>
      <ion-input type="number" maxlength="20"></ion-input>
    </ion-item>
    
    <ion-item id="custom-item" counter="true">
      <ion-label position="stacked">Fechas disponibles:</ion-label>
      <!-- <ion-input type="date" id="fecha"></ion-input> -->
      <ion-datetime
        id="fecha"
        minuteValues="0,15,30,45"
        hourValues="8,11,18"
        dayValues="5,10,15,20,25,30"
        ></ion-datetime>
    </ion-item>

    <ion-button (click)="enviar()">Enviar</ion-button>
  </ion-list>
</ion-content>
