<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Turnos registrados</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <table>	
    <thead>
    
      <tr>
        <th>ID</th>
        <th>FECHA TURNO</th>
        <th>NOMBRE</th>
        <th>ESTADO</th>
        <th>SANATORIO</th>
        <th>CEL</th>
        
      </tr>
    
    </thead>
    
    <tbody>
      <tr *ngFor="let t of turnos">
        <td>{{t.task_id}}</td>
        <td>{{t.fecha_turno | date :  "dd-MM-y"}} {{t.hora_turno}}</td>
        <td>{{t.task_name}}</td>
        <td><p class="status status-paid">{{t.task_status}}</p></td>
        <td>{{t.sanatorio}}</td>
        <td>{{t.nro_cel}}</td>
        
      </tr>
    </tbody>
  
  </table>

</ion-content>
